.hero {
  height: 100%;
  padding: 130px 0;
  @include breakpoint($md) {
    padding: 170px 0;
  }
}

.hpHero {
  color: #fff;
  background-color: $jacksons-purple;
  & .backgrounds {
    z-index: 0;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    top: 0;
    @include breakpoint($md) {
      height: 95%;
    }
    & .background-top {
      z-index: 0;
      position: absolute;
      top: 0;
      right: 0;
      width: 90%;
      max-width: 1024px;
    }
    & .background-bottom {
      z-index: 0;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 95%;
      max-width: 180px;
    }
  }
  & .hpHero__text {
    position: relative;
    z-index: 1;
  }
  & .hpHero__heading {
    font-size: $title-extra-large-mb;
    font-weight: $bold;
    line-height: 56px;
    margin-bottom: 35px;
    max-width: 740px;
    @include breakpoint($md) {
      font-size: $title-extra-large;
    }
  }
  & .hpHero__paragraph {
    max-width: 400px;
    margin-bottom: 57px;
  }
  & .hpHero__cta {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    @include breakpoint($md) {
      flex-direction: row;
      align-items: center;
    }
    & a:last-child {
      margin-top: 15px;
      @include breakpoint($md) {
        margin-top: 0;
        margin-left: 35px;
      }
    }
  }
  & .hpHero__illustration {
    margin-top: 47px;
    position: relative;
    z-index: 1;
  }
}
